/*body{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
}*/


header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
header .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
}
nav li{
    height:100%;
    display: inline;
    list-style: none;
    font-size: 18px;
    font-weight: bold;

}
.home{
    color: #11b979;
}
.logo{
    width: 100px;
    height: 50px;

}
ul{
    display: flex;
    text-wrap: nowrap;
    gap: 20px;
    
}
.get button{
    margin-top: 15px;
     width: 130px;
     padding: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
      background-color: white;
      border: 2px solid #11b979;
    
}
/* .start{ 
    display: flex;
    width: 130px;
    padding: 10px;
    justify-content: center;
    align-items: center;
     background-color: white;
     border: 2px solid #11b979;
} */
.section1{
    
    /* height: 500px; */
    
    
}
.all-sect-1{
         width: 100%;
         /* height: 100%; */
         display: flex;
         justify-content: center;
         justify-items: center;
         
}
.gauche h1{
 font-size: 70px;
}
.p-making{
    font-size: 20px;
}
.tofs{
     display: flex;
     flex-direction: row;
}
.tof1{
    width: 400px;
    height: 400px;
   margin-top: 100px;
}
.tof1 img{
    width: 100%;
    height: 100%;
}
.tof2{
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: -170px;
}
.tof2 img{
    width: 100%;
    height: 100%;
}
.tof3{
    width: 400px;
    height: 400px;
   margin-top: 300px;
   margin-left: -460px;
}
.tof3 img{
    width: 100%;
    height: 100%;
}
.blanc{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
 .blanc .elevate{ 
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.quote{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: green;
}
.blanc .icons{
    /* width: 70%; */
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blanc .icons .perf-reten{
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.performance{
     width: 200px;    
    border: 1px solid #000000;
    padding: 20px;
}
.retention{
    width: 200px;
    border: 1px solid #000000;
    padding: 20px;
}
.blanc .icons .mark-oth{
    /* width: 100%; */
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.market{
    width: 200px;
    border: 1px solid #000000;
    padding: 20px;
}
.other{
    width: 200px;
    border: 1px solid #000000;
    padding: 20px;
}
.bas-blanc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.vert{
    /* height: 200px; */
    background-color: #11b979;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.noir{
    
    /* height: 50px; */
    background-color: black;
}
.img-noir{
    width: 100%;
    display: flex;
    justify-content: center;
}
.para{
    width: 48px;
    height: 48px;
}
.couteau{
    width: 48px;
    height: 48px;
}
.fashion{
    width: 48px;
    height: 48px;
}
.real{
    width: 48px;
    height: 48px;
}
.tout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.free{
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    /* margin-left: 50px; */
    width: 95%;
    height: 300px;
    text-align: center;
    background-image: url(photos/free.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.free .h1-free{
       padding-top: 90px;
       font-size: 50px;
       color: white;
}
.button-free{
    font-size: 20px;
    background-color: #11b979;
    color: white;
    border: none;
}
.jaune{
    /* height: 500px; */
    background-color: #ffc100;
    display: flex;
    text-align: center;
    
}
.chiffre{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.left{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.h1-left{
    font-size: 60px;
}
.right{
    width: 30%;
    height: 20px;
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 0px;
    
}
.tof-jaune{
    width: 100%;
    border-radius: 5%;
}
.all-sec-4{
    
    height: 500px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.left-sec4{
    width: 60%;
    margin-left: 100px;
    
}
.h1-sec4{
    font-size: 55px;
}
.p-sec4{
    font-size: 30px;
}
.right-sec4{
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 30px;
}
.tof-sec4{
    width: 100%;
    
}
.rec{ 
    width: 50%;
    margin-top: -100px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.projet{
    text-align: center;
    margin-left: -35%;
    font-size: 30px;
    color: white;
}
.green{
    margin-top: 100px;
    
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #11b979;
    gap: 25px;
}
.unsp{
    margin-top: 50px;
}
.charle{
    border-radius: 5%;
}
.build{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.h1-sec5{
    font-size: 40px;
}
.all-tofs{
    display: flex;
}
.pic1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pic2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pic3 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pic4 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.trait{
    width: 1px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
.btn-contact{
    margin-top: 10px;

}
.black{
    margin-top: -20px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}
.sec-6{
    
    height: 650px;
    background-color: #f4f4f4;
    margin-top: -20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.h1-sec6{
    margin: 5%;
    font-size: 30px;
}
.logos{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}
.analyse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.ana1 img{
    width: 300px;
    height: 300px;
}
.ana2 img{
    width: 300px;
    height: 300px;
}
.ana3 img{
    width:300px;
    height: 300px;
}
.sec-7{
    height: 300px;
    margin: 50px;
    background-image: url(photos/schule.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}
.btn-sec7{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    color: white;
    background-color: #11b979;
    border: none;
}
.h1-sec7{
    color: white;
    font-size: 40px;
}
.p-sec7{
    color: white;
    font-size: 20px;
}
.all-footer{
    height: 300px;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}
.label{
    color: white;
    background-color: black;
    font-size: 15px;
}
.log{
    width: 140px;
    margin-top: 30px;
    margin-left: 80px;
}
.horizon{
    width: 100%;
    height: 1px;
    margin-top: -50px;
    background-color: gray;
}
.last{
    display: flex;
    justify-content: space-between;
    
}
@media only screen and (max-width: 729px){
    /* body{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }*/
    
    header{
        width: 100%;
    }
    .nav-bar{
        width:  100%;
        display: flex;
        flex-direction: column;
        /* margin-bottom: 100px; */
    }
    .liste ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .get{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .illus{ x
        width: 40px;
    }
    .lis{
        font-size: 8px;
    }*/
    .all-sect-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .gauche h1{
        font-size: 25px;
       }
    .p-making{
        font-size: 10px;
    }
    .tofs{
        display: flex;
        flex-direction: column;
    }
    .tof2{
    
        margin-left: 0;
        margin-top: 0;
    
    }
    .tof3{
       margin-left: 0;
       margin-top: 0;
    }
    .tof1{ 
        width: 100%;
    }
    .tof2{
        width: 100%;
    }
    .tof3{
        width: 100%;
    }
    
    .blanc{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    
    .elevate{
        width: 300px;
        
    }
    .img-el img{
        width: 100%;
        margin: 0;
    }
    .icons{
    margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .perf-reten{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .performance{
        width: 50%;
    }
    .retention{
        width: 50%;
    }
    .mark-oth{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .market{
        width: 50%;
    }
    .other{
        width: 50%;
    }
    .bas-blanc{
        width: 100%;
        margin-top: 0;
    }
    .img-1{
        width: 100%;
    }
    .img-1 img{
        width: 100%;
    }
    .img-2{
        width: 100%;
    }
    .img-2 img{
        width: 100%;
    }
    .vert{
        width: 100%;
    }
    .img-noir{
        width: 300px;
    }
    .para{
        width: 15px;
    }
    .para-beau{
        font-size: 10px;
    }
    .couteau{
        width: 15px;
    }
    .para-cou{
        font-size: 10px;
    }
    .fashion{
        width: 15px;
    }
    .para-fashion{
        font-size: 10px;
    }
    .real{
        width: 15px;
    }
    .para-real{
        font-size: 10px;
    }





    .tout{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-top: 100px; */
    } 
    .free{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
    .jaune{
        width: 300px;
    }
    .h1-left{
        font-size: 15px;
    }
    .chiffre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .all-sec-4{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin-top: 300px;
     }
     .h1-sec4{
        font-size: 25px;
     }
     .tof-sec4 img{
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .img-rec img{
        width: 100px;
        display: flex;
        justify-content: center;
        justify-items: center;
     }
     
     .projet{
        font-size: 10px;
        text-align: center;
     }
    
     
    .green{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
    }
    .charle{
        width: 100%;
     }
    .build{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .h1-sec5{
        font-size: 15px;
    }
    .all-tofs{
        margin-top: -20px;
    }
    .pic1 img{
        width: 45px;
        height: 35px;
    }
    .pic2 img{
        width: 45px;
        height: 35px;
    }
    .pic3 img{
        width: 45px;
        height: 35px;
    }
    .pic4 img{
        width: 45px;
        height: 35px;
    }
    .black{
        width: 100%;
    }
    .h1-black{
        margin-top: 20px;
        font-size: 13px;
    }
     .sec-6{
        width: 100%;
        height: 800px;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        background-color: #f4f4f4;
        
        
        
    }
    
    .h1-sec6{
        font-size: 15px;
    }
    .logos{
        display: flex;
        flex-direction: column;
    }
    .goog{
        width: 100%;
    }
    .goog img{
        width: 100%;
    }
    .shop{
        width: 100%;
    }
    .shop img{
        width: 100%;
    }
    .amo{
        width: 150px;
    }
    .amo img{
        width: 100%;
    }
    .meta{
        width: 150px;
    }
    .meta img{
        width: 100%;
    }
    /* .analyse{ 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
        margin-left: 0px;
    }*/
    

    .analyse{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .ana1 img{
        width: 90px;
        height: 100px;
    }
    .ana2 img{
        width: 90px;
        height: 100px;
    }
    .ana3 img{
        width: 90px;
        height: 100px;
    }
    .sec-7{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }
    .btn-sec7{
        margin-top: 20%;
    
    }
    .all-footer{
        width: 100%;
        gap: 2px;
    }
    .ill{
        width: 50px;
    }
    .foot1{
        font-size: 10px;
    }
    .foot-h3{
        font-size: 8px;
    }
    .foot-2{
        font-size: 10px;
    }
    .foot3-h{
        font-size: 10px;
    }
    .foot-3{
        font-size: 8px;
    }
    .foot-4{
        margin-top: -95px;
        display: flex;
        flex-direction: column;
        
    }
    .foot4-h3{
        font-size: 10px;
    }
    .foot-p{
        font-size: 5px;
    }
    .log{
        width: 50px;
        margin-top: 10px;
    }
    .horizon{
        width: 100%;
    }
    .last{
        width: 100%;
        gap: 2px;
    }
    .last-p{
        font-size: 8px;
    }
}